# Ignore node_modules directory
node_modules/

# Ignore .env file (for environment variables)
.env

# Ignore logs
logs
*.log
npm-debug.log*

# Ignore local environment settings
.env.local
.env.*.local

# Ignore package-lock.json or yarn.lock if you use only one package manager
# You can uncomment the following line if needed:
# package-lock.json
# yarn.lock

# Ignore build output
dist/
build/

# Ignore cache directories
.cache/
.tmp/

# Ignore request
requests.http